 
body{
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.container {
  background-color: #FFFFFF;
  background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
  
  max-width: 600px;
    height:100% ;
    margin:4rem auto;
    padding: 30px 16px;
    position: relative;
	overflow: hidden;
}
.heading{
  margin-top: 16px;
 text-align: center;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.caption{
  text-align: center;
  color: rgb(255, 230, 1);
  font-size: larger;
  font-weight: 600;
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  
}
.image{
 width:80%;
 margin-left: 4rem;
}
.image img{
    max-width: 100%;
    display: block;
} 


 .left-slide,  .right-slide{
    position: absolute;
    height: 40px;
    width:36px;
     border-radius: 50%;
    color:#ffffff;
    font-size: 20px;
    border-color: #466baf;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Signika', sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #466baf;
    top:50%;
    cursor: pointer;
    margin-top: -20px;
    text-align: center;
    line-height: 40px;
    
  }
    .left-slide:hover,  .right-slide:hover{
      border-color: rgb(252, 248, 53);
      color: rgb(0, 0, 0);
      background-color: #9ae4d1;
  }
  
    .left-slide{
      left: 30px;
  }
    .right-slide{
      right: 30px;
  } 
      .image{
      display: none;
      position: relative;
  }
   
  
    .image.active{
      display: block;
  }
  